
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>spor</td>
        <td>aktif</td>
    </tr>
    <tr>
        <td>2</td>
        <td>yazılım</td>
        <td>aktif</td>
    </tr>
</table>

