<!-- header -->
<header style="height:120px">
    <!-- header inner -->
    <div class="header fixed-top" >
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo"> <a href="#"><img src="~/images/logomiko_181x58.jpg" alt="#"></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li class="active"> <a asp-controller="Home" asp-action="Index">Anasayfa</a> </li>
                                    <li> <a asp-controller="Hakkımızda" asp-action="Index">Hakkımızda</a> </li>
                                    <li><a asp-controller="Turlar" asp-action="Index">Turlar</a> </li>
                                    <li><a asp-controller="Home" asp-action="Index">Blog</a> </li>
                                    <li><a asp-controller="Iletisim" asp-action="Index">İletişim</a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
</header>
<!-- end header -->