@using MikoBussEntityLayer
@model Ticket

<div>
    <input type="text" name="name" asp-for="@Model.TicketName" />
    <input type="text" name="name" asp-for="@Model.TicketSurname" />
    <input type="text" name="name" asp-for="@Model.TicketMail" />

</div>