@using EntityLayer
@model List<Category>


<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
   
        @foreach (var item in Model)
        {
            <tr>
                 <td>@item.CategoryId</td>
                 <td>@item.CategoryName</td>
                 <td>@item.CategoryDescription</td>
                 <td>@item.CategoryStatus</td>

            </tr>
        }
    
</table>