<h1>itelisim</h1>
<section class="tm-banner">
    <div class="tm-container-outer tm-banner-bg">
        <div class="container">
            <div class="row tm-banner-row tm-banner-row-header">
                <div class="col-xs-12">
                    <div class="tm-banner-header">
                        <h1 class="text-uppercase tm-banner-title">Let's begin</h1>
                        <img src="assets/img/dots-3.png" alt="website template image">
                        <p class="tm-banner-subtitle">We assist you to choose the best.</p>
                        <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="row tm-banner-row" id="tm-section-search">
                <form action="#" method="post" class="tm-search-form tm-section-pad-2">
                    <div class="form-row tm-search-form-row">
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                            <label for="inputCity">Choose Your Destination</label>
                            <input name="destination" type="text" class="form-control" id="inputCity" placeholder="Type your destination...">
                        </div>
                        <div class="form-group tm-form-group tm-form-group-1">
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                <label for="inputRoom">How many rooms?</label>
                                <select name="room" class="form-control tm-select" id="inputRoom">
                                    <option value="1" selected="">1 Room</option>
                                    <option value="2">2 Rooms</option>
                                    <option value="3">3 Rooms</option>
                                    <option value="4">4 Rooms</option>
                                    <option value="5">5 Rooms</option>
                                    <option value="6">6 Rooms</option>
                                    <option value="7">7 Rooms</option>
                                    <option value="8">8 Rooms</option>
                                    <option value="9">9 Rooms</option>
                                    <option value="10">10 Rooms</option>
                                </select>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputAdult">Adult</label>
                                <select name="adult" class="form-control tm-select" id="inputAdult">
                                    <option value="1" selected="">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputChildren">Children</label>
                                <select name="children" class="form-control tm-select" id="inputChildren">
                                    <option value="0" selected="">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row tm-search-form-row">
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3" style="position: relative;">
                            <label for="inputCheckIn">Check In Date</label>
                            <input name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="Check In">
                            <div class="qs-datepicker qs-hidden">
                                <div class="qs-controls">
                                    <div class="qs-arrow qs-left"></div>
                                    <div class="qs-month-year">
                                        <span class="qs-month">May</span>
                                        <span class="qs-year">2022</span>
                                    </div>
                                    <div class="qs-arrow qs-right"></div>
                                </div>
                                <div class="qs-squares"><div class="qs-square qs-day">Sun</div><div class="qs-square qs-day">Mon</div><div class="qs-square qs-day">Tue</div><div class="qs-square qs-day">Wed</div><div class="qs-square qs-day">Thu</div><div class="qs-square qs-day">Fri</div><div class="qs-square qs-day">Sat</div><div class="qs-square qs-num Sun "><span class="qs-num">1</span></div><div class="qs-square qs-num Mon "><span class="qs-num">2</span></div><div class="qs-square qs-num Tue "><span class="qs-num">3</span></div><div class="qs-square qs-num Wed "><span class="qs-num">4</span></div><div class="qs-square qs-num Thu "><span class="qs-num">5</span></div><div class="qs-square qs-num Fri "><span class="qs-num">6</span></div><div class="qs-square qs-num Sat "><span class="qs-num">7</span></div><div class="qs-square qs-num Sun "><span class="qs-num">8</span></div><div class="qs-square qs-num Mon "><span class="qs-num">9</span></div><div class="qs-square qs-num Tue "><span class="qs-num">10</span></div><div class="qs-square qs-num Wed "><span class="qs-num">11</span></div><div class="qs-square qs-num Thu "><span class="qs-num">12</span></div><div class="qs-square qs-num Fri "><span class="qs-num">13</span></div><div class="qs-square qs-num Sat "><span class="qs-num">14</span></div><div class="qs-square qs-num Sun "><span class="qs-num">15</span></div><div class="qs-square qs-num Mon "><span class="qs-num">16</span></div><div class="qs-square qs-num Tue "><span class="qs-num">17</span></div><div class="qs-square qs-num Wed "><span class="qs-num">18</span></div><div class="qs-square qs-num Thu "><span class="qs-num">19</span></div><div class="qs-square qs-num Fri "><span class="qs-num">20</span></div><div class="qs-square qs-num Sat "><span class="qs-num">21</span></div><div class="qs-square qs-num Sun "><span class="qs-num">22</span></div><div class="qs-square qs-num Mon "><span class="qs-num">23</span></div><div class="qs-square qs-num Tue "><span class="qs-num">24</span></div><div class="qs-square qs-num Wed "><span class="qs-num">25</span></div><div class="qs-square qs-num Thu "><span class="qs-num">26</span></div><div class="qs-square qs-num Fri qs-current"><span class="qs-num">27</span></div><div class="qs-square qs-num Sat "><span class="qs-num">28</span></div><div class="qs-square qs-num Sun "><span class="qs-num">29</span></div><div class="qs-square qs-num Mon "><span class="qs-num">30</span></div><div class="qs-square qs-num Tue "><span class="qs-num">31</span></div><div class="qs-square qs-num Wed qs-empty"></div><div class="qs-square qs-num Thu qs-empty"></div><div class="qs-square qs-num Fri qs-empty"></div><div class="qs-square qs-num Sat qs-empty"></div></div>
                                <div class="qs-overlay qs-hidden">
                                    <div class="qs-close">✕</div>
                                    <input type="number" class="qs-overlay-year" placeholder="4-digit year">
                                    <div class="qs-submit qs-disabled">Submit</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3" style="position: relative;">
                            <label for="inputCheckOut">Check Out Date</label>
                            <input name="check-out" type="text" class="form-control" id="inputCheckOut" placeholder="Check Out">
                            <div class="qs-datepicker qs-hidden">
                                <div class="qs-controls">
                                    <div class="qs-arrow qs-left"></div>
                                    <div class="qs-month-year">
                                        <span class="qs-month">May</span>
                                        <span class="qs-year">2022</span>
                                    </div>
                                    <div class="qs-arrow qs-right"></div>
                                </div>
                                <div class="qs-squares"><div class="qs-square qs-day">Sun</div><div class="qs-square qs-day">Mon</div><div class="qs-square qs-day">Tue</div><div class="qs-square qs-day">Wed</div><div class="qs-square qs-day">Thu</div><div class="qs-square qs-day">Fri</div><div class="qs-square qs-day">Sat</div><div class="qs-square qs-num Sun "><span class="qs-num">1</span></div><div class="qs-square qs-num Mon "><span class="qs-num">2</span></div><div class="qs-square qs-num Tue "><span class="qs-num">3</span></div><div class="qs-square qs-num Wed "><span class="qs-num">4</span></div><div class="qs-square qs-num Thu "><span class="qs-num">5</span></div><div class="qs-square qs-num Fri "><span class="qs-num">6</span></div><div class="qs-square qs-num Sat "><span class="qs-num">7</span></div><div class="qs-square qs-num Sun "><span class="qs-num">8</span></div><div class="qs-square qs-num Mon "><span class="qs-num">9</span></div><div class="qs-square qs-num Tue "><span class="qs-num">10</span></div><div class="qs-square qs-num Wed "><span class="qs-num">11</span></div><div class="qs-square qs-num Thu "><span class="qs-num">12</span></div><div class="qs-square qs-num Fri "><span class="qs-num">13</span></div><div class="qs-square qs-num Sat "><span class="qs-num">14</span></div><div class="qs-square qs-num Sun "><span class="qs-num">15</span></div><div class="qs-square qs-num Mon "><span class="qs-num">16</span></div><div class="qs-square qs-num Tue "><span class="qs-num">17</span></div><div class="qs-square qs-num Wed "><span class="qs-num">18</span></div><div class="qs-square qs-num Thu "><span class="qs-num">19</span></div><div class="qs-square qs-num Fri "><span class="qs-num">20</span></div><div class="qs-square qs-num Sat "><span class="qs-num">21</span></div><div class="qs-square qs-num Sun "><span class="qs-num">22</span></div><div class="qs-square qs-num Mon "><span class="qs-num">23</span></div><div class="qs-square qs-num Tue "><span class="qs-num">24</span></div><div class="qs-square qs-num Wed "><span class="qs-num">25</span></div><div class="qs-square qs-num Thu "><span class="qs-num">26</span></div><div class="qs-square qs-num Fri qs-current"><span class="qs-num">27</span></div><div class="qs-square qs-num Sat "><span class="qs-num">28</span></div><div class="qs-square qs-num Sun "><span class="qs-num">29</span></div><div class="qs-square qs-num Mon "><span class="qs-num">30</span></div><div class="qs-square qs-num Tue "><span class="qs-num">31</span></div><div class="qs-square qs-num Wed qs-empty"></div><div class="qs-square qs-num Thu qs-empty"></div><div class="qs-square qs-num Fri qs-empty"></div><div class="qs-square qs-num Sat qs-empty"></div></div>
                                <div class="qs-overlay qs-hidden">
                                    <div class="qs-close">✕</div>
                                    <input type="number" class="qs-overlay-year" placeholder="4-digit year">
                                    <div class="qs-submit qs-disabled">Submit</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                            <label for="btnSubmit">&nbsp;</label>
                            <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">Check Availability</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tm-banner-overlay"></div>
        </div>
    </div>
</section>