.container{
    display: flex;
    justify-content: space-around;
    background-image: url("https://picsum.photos/id/11/1333/70");
    height: 70px;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-style: oblique;
    color: black;
}
button{
    background-color: grey;
    border: none;
    cursor: pointer;
}
.acılır{
    position: absolute;
    color: black;
    top: 50px;
    display: none;
    transition: 1s;
    z-index: 5;
}

.slider{
    height: 600px;
    display: flex;
    justify-content: center;
    
}
.img{
    position: absolute;
    
}

.active{
    display: block;
}


.ileri{
    position: absolute;
    top: 320px;
    right: 20px;
    color: black;
    
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}
.geri{
    position: absolute;
    top: 320px;
    color: black;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    left: 20px;
}
.ileri:hover{
    font-size: x-large;
}
.geri:hover{
    font-size: x-large;
}

.containerCards{
    display: flex;
    justify-content: space-around;
}
.card{
    text-align: center;
}
.cardYazı{
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.projeler{
    background-image: url("https://picsum.photos/id/120/1333");
}
.containerAcıklama{
    display: flex;
    justify-content: space-between;
    background-image: url("https://picsum.photos/id/120/1333");
    
   
}
.acıklama{
    color: white;
}

